*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lexend Deca',sans-serif;
}
body{
    background-color: #222;
}
.navbar-light,.bg-light{
    background-color: #00112c !important;
}


a{
    color:#00112c !important;
}
#logout{
    color: white !important;
    cursor: pointer;
}
td{
    text-align: center;
}

